PokerClient/PokerClient/Connected Services/PokerServiceRef/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/PokerService2/PokerService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PokerService" />
  <xs:element name="SignUp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignUpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PokerService" minOccurs="0" name="SignUpResult" nillable="true" type="q1:ServerResponseOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PokerService" minOccurs="0" name="LoginResult" nillable="true" type="q2:ServerResponseOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExistingTables">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExistingTablesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PokerService" minOccurs="0" name="GetExistingTablesResult" nillable="true" type="q3:ServerResponseOfArrayOfPokerTableBLPWeT4Jje" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PokerTableName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NumOfPlayers" type="xs:int" />
        <xs:element minOccurs="0" name="MinBetAmount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PokerService" minOccurs="0" name="CreateTableResult" nillable="true" type="q4:ServerResponseOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeaveTable">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LeaveTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PokerService" minOccurs="0" name="LeaveTableResult" nillable="true" type="q5:ServerResponseOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseTable">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/PokerService" minOccurs="0" name="CloseTableResult" nillable="true" type="q6:ServerResponseOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JoinTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TableId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JoinTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/PokerService" minOccurs="0" name="JoinTableResult" nillable="true" type="q7:ServerResponseOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUp">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/PokerService" minOccurs="0" name="GetUpResult" nillable="true" type="q8:ServerResponseOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sit">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/PokerService" minOccurs="0" name="SitResult" nillable="true" type="q9:ServerResponseOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartGame">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StartGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/PokerService" minOccurs="0" name="StartGameResult" nillable="true" type="q10:ServerResponseOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTableStatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTableStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/PokerService" minOccurs="0" name="UpdateTableStatusResult" nillable="true" type="q11:ServerResponseOfTableStatusPWeT4Jje" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlayerMove">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Operation" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlayerMoveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/PokerService" minOccurs="0" name="PlayerMoveResult" nillable="true" type="q12:ServerResponseOfTableStatusPWeT4Jje" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>