PokerClient/PokerClient/Connected Services/PokerServiceRef/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PokerService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PokerService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ServerResponseOfint">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServerResponseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/PokerService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMsg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServerResponseOfint" nillable="true" type="tns:ServerResponseOfint" />
</xs:schema>