PokerClient/PokerClient/Connected Services/PokerServiceRef/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PokerDL.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PokerDL.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BaseIdentityEntity">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseIdentityEntity" nillable="true" type="tns:BaseIdentityEntity" />
  <xs:complexType name="BaseEntity">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="BaseEntity" nillable="true" type="tns:BaseEntity" />
  <xs:complexType name="ArrayOfMove">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Move" nillable="true" type="tns:Move" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMove" nillable="true" type="tns:ArrayOfMove" />
  <xs:complexType name="Move">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="BidAmount" type="xs:int" />
          <xs:element minOccurs="0" name="MoveNumber" type="xs:int" />
          <xs:element minOccurs="0" name="Operation" type="tns:Operation" />
          <xs:element minOccurs="0" name="PlayerId" type="xs:int" />
          <xs:element minOccurs="0" name="PokerTableId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Move" nillable="true" type="tns:Move" />
  <xs:simpleType name="Operation">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Call" />
      <xs:enumeration value="Raise" />
      <xs:enumeration value="Fold" />
      <xs:enumeration value="Check" />
      <xs:enumeration value="AllIn" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Operation" nillable="true" type="tns:Operation" />
  <xs:complexType name="Card">
    <xs:sequence>
      <xs:element minOccurs="0" name="Face" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Suit" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Card" nillable="true" type="tns:Card" />
  <xs:complexType name="ArrayOfCard">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Card" nillable="true" type="tns:Card" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCard" nillable="true" type="tns:ArrayOfCard" />
</xs:schema>