PokerClient/PokerClient/Connected Services/PokerServiceRef/item4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PokerService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PokerService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/PokerService2/PokerService/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/PokerBL.Models" />
  <xs:complexType name="ServerResponseOfint">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServerResponseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/PokerService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMsg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServerResponseOfint" nillable="true" type="tns:ServerResponseOfint" />
  <xs:complexType name="ServerResponseOfArrayOfPokerTableBLPWeT4Jje">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServerResponseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/PokerService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfPokerTableBL" Namespace="http://schemas.datacontract.org/2004/07/PokerBL.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMsg" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PokerBL.Models" minOccurs="0" name="Result" nillable="true" type="q1:ArrayOfPokerTableBL" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServerResponseOfArrayOfPokerTableBLPWeT4Jje" nillable="true" type="tns:ServerResponseOfArrayOfPokerTableBLPWeT4Jje" />
  <xs:complexType name="ServerResponseOfboolean">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServerResponseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/PokerService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="boolean" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMsg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServerResponseOfboolean" nillable="true" type="tns:ServerResponseOfboolean" />
  <xs:complexType name="ServerResponseOfTableStatusPWeT4Jje">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServerResponseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/PokerService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TableStatus" Namespace="http://schemas.datacontract.org/2004/07/PokerBL.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMsg" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PokerBL.Models" minOccurs="0" name="Result" nillable="true" type="q2:TableStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServerResponseOfTableStatusPWeT4Jje" nillable="true" type="tns:ServerResponseOfTableStatusPWeT4Jje" />
</xs:schema>